In [18]:
import os
import pandas as pd
project_path = '/Users/zhaoxuefeng/Documents/Project/Python/git/kuanke_project'

In [20]:
pd.read_csv(os.path.join(project_path,'data/huilv2.csv'))

          date    USDJPY  EURUSD
0     20010921  121.2000  1.0832
1     20010924  121.1000  1.0830
2     20010925  121.2200  1.0744
3     20010926  120.5400  1.0732
4     20010927  120.3000  1.0718
...        ...       ...     ...
4995  20220421  125.8850  1.0829
4996  20220422  126.4595  1.0814
4997  20220425  126.9900  1.0782
4998  20220426  128.9000  1.0787
4999  20220427  128.6585  1.0807

[5000 rows x 3 columns]